{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <div class="col-md-8">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% for post in posts %}
      <article class="content-section clearfix" id="{{ post.pk }}">
        <div class="media border-bottom">
          <img class="rounded-circle article-img" draggable="false" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </div>
          </div>
        </div>
        {% if post.images %}
          <div class="text-center bg-dark">
            <img class="img-fluid" draggable="false" src="{{ post.images.url }}" alt="...">
          </div>
        {% endif %}
        <form method="POST" data-index-number="{{ post.pk }}" class="article-menu likes-form form-inline" data-url="{% url 'post-likes' post.pk %}">
          {% csrf_token %}
          <div class="form-group d-flex w-100">
            <button class="btn btn-sm mr-2 likes-btn" type="button">
              <img src="{% static 'blog/img/heart-outline.svg' %}" alt="likes button" width="28" height="25" loading="lazy" data-index-number="{{ post.pk }}" class="likes-img" draggable="false">
              <!-- <img src="{% static 'blog/img/heart-solid-pink.svg' %}" alt="likes button" width="28" height="25" loading="lazy" data-index-number="{{ post.pk }}"> -->
            </button>
            <a class="btn btn-sm" href="{% url 'post-detail' post.pk %}" role="button">
              <img src="{% static 'blog/img/comment-outline.svg' %}" alt="comments button" width="28" height="25" loading="lazy" class="comment-btn" draggable="false">
            </a>
            <button type="button" class="btn btn-sm bookmark-btn ml-auto">
              <img src="{% static 'blog/img/bookmark-outline.svg' %}" alt="boookmark button" width="28" height="25" loading="lazy" data-index-number="{{ post.pk }}" class="bookmark-img" draggable="false">
              <!-- <img src="{% static 'blog/img/bookmark-solid-black.svg' %}" alt="boookmark button" width="28" height="25" loading="lazy" data-index-number="{{ post.pk }}"> -->
            </button>
          </div>
        </form>
        <div class="article-content container px-3">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
        </div>
        <ul class="list-group list-group-flush" data-index-number="{{ post.pk }}">
          {% if post.get_comments_count %}
            <li class="list-group-item py-1 border-0"><a href="{% url 'post-detail' post.pk %}" class="text-muted text-decoration-none">View all {{ post.get_comments_count }} comments</a></li>
            {% for comment in post.get_latest_2_comments reversed %}
              <li class="list-group-item px-3 p-0 border-0"><span class="text-muted mr-2 text-uppercase font-weight-bold">{{ comment.author }}</span>{{ comment.text }}</li>
            {% endfor %}
          {% endif %}
        </ul>
        <div class="container mb-1">
          <small class="text-muted text-bold">{{ post.date_posted | date:"d F, Y" }}</small>
        </div>
        <form method="POST" class="comment-form" data-index-number="{{ post.pk }}" data-url="{% url 'test-comment' post.pk %}">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-group border-top">
              <input type="text" class="form-control comment-input border-0" placeholder="Add a comment..." aria-label="comment box" id="comment-{{ post.id }}">
              <button type="submit" class="comment-post-btn btn btn-sm px-1 disabled" disabled>Post</button>
            </div>
          </div>
        </form>
      </article>
    {% endfor %}
    {% if is_paginated %}
      <nav aria-label="Page navigation" class="mb-4">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">First</a>
            </li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
  <div class="col-md-4 sidebar-section">
    <div class="position-fixed w-25 px-1">
      {% if request.user.is_authenticated %}
        <div class="media">
          <img src="{{ user.profile.image.url }}" alt="user icon" class="rounded-circle article-img" draggable="false">
          <div class="media-body">
            <span class="font-weight-light">Welcome back, {{ user.username }}</span>
          </div>
        </div>
      {% endif %}
      <div class="list-group">
        {% if latest %}
          <a href="{% url 'post-detail' latest.pk %}" class="list-group-item list-group-item-action text-capitalize">Latest Post</a>
        {% endif %}
        <a href="#" class="list-group-item list-group-item-action">Announcements</a>
        <a href="#" class="list-group-item list-group-item-action">Calendars</a>
      </div>
    </div>
  </div>
  <script src="{% static 'blog/script.js' %}"></script>
{% endblock content %}