{% load static %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Our Sidebar</h3>
    <p class='text-muted'>Brief information about our website.
      <ul class="list-group">
        {% if posts %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="article-title text-capitalize" href="{% url 'post-detail' latest.pk %}">Latest Post</a>
            <span class="badge badge-primary badge-pill">New</span>
          </li>
        {% elif object %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Likes
            <span class="badge badge-primary badge-pill">{{ object.likes.count }}</span>
          </li>
          <li class="list-group-item list-group-item-light">
            <div data-spy="scroll">
              {% for like in object.likes.all %}
                <img class="rounded-circle article-img m-2" style="width: 2rem; height: auto;" src="{{ like.profile.image.url }}" alt="...">
                <a class="text-decoration-none" href="{% url 'user-posts' like.username %}">{{ like }}</a><br>
              {% empty %}
                <span class="align-middle">No likes yet :(</span>
              {% endfor %}
            </div>
          </li>
        {% elif user.posts.last.pk %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="article-title text-capitalize" href="{% url 'post-detail' user.posts.last.pk %}">Latest Post</a>
            <span class="badge badge-primary badge-pill">New</span>
          </li>
        {% endif %}
        <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
      </ul>
    </p>
  </div>
</div>
